* {
    margin:0;
    padding:0;
    outline: 5px;
    box-sizing:border-box;
}

/* UTILIZANDO FLEXBOX */

.body
{
    background-color:white;
}
.logo {

    padding:5px;
    margin:3px;
    box-sizing:border-box;
    align-items:center;

}

.img {
    width:240px;
    height:160px;
}

.menu {
    background-color:black;
    weight:auto;
    width:auto;
    display:flex;
    justify-content:space-between;
    align-items:center;
    border-botton: 5px solid green;
    box-shadow: 3px 0 8px grey (0 0, 0, 0,6);
    border-right: 1px solid grey;
    padding-rigth:5px;

}


.logo label a decorado href {
    color:yellow;
    text-decoration:none;
    font-size:25px;
}
.menu_items {
    display:flex;
    list-style-type:none;
    margin:10px;
}
.menu_items l1 {
    border-radius:3px;
    margin:0 3px;
  
}
.decorado {
    padding: 15px;
    font-size:20px;
    display:block;
    color:white;
    text-decoration :none;
}
@font-face {
     font-family: lato ;
     src: url:("../")

}

/* UTILAZANDO FLEX EN LA PAGINA SERVICIOS */

* {
    margin: 0px;;
    padding: 0px;;
    box-sizing: border-box;
}

.cards {
   display: flex;
   flex-direction: row;

}

.card {

    border: 2px solid grey;
    margin: 7px;
    padding:5px;
    background-color:#0CCBD4 ;
    height: 300px;
    justify-content:space-between;
    border-radius: 15px;
    box-shadow: 0 25px 50px grey;

}

.card:hover {
    background-color:black;
    color:white;
    transform: scale (1,03)
}

.boton {

    background-color:grey;
    padding:3px;
    margin: 20px 50px;
    color:white;
    justify-content:right;
    display:block;
    text-decoration:none;
    border-radius:10px;
    



}
.imghome {
    width:1919px;
    height:700px;
}

/* UTILIZANDO PSEUDOCLASES */

.menu ul li:hover {
    background-color:grey;
    padding:3px;
    border-radius:20px;
}
.menu ul li:active {
    background-color:#0CCBD4 ;
}

/* UTILIZANDO MEDIAS QUERIES */

@media screen and (max-width: 768px) {
  .content {
    flex-direction: column;
    align-items: flex-start;
  }
  
  .links {
    justify-content: flex-start;
  }
  
  .footer-links li {
    margin-right: 20px;
  }
}
/*FOOTER*/

footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .footer-links li {
    display: inline-block;
    margin-right: 10px;
  }
  
  .footer-links a {
    color: #fff;
    text-decoration: none;
  }
  
  .footer-links a:hover {
    text-decoration: underline;
  }
  






















































































